@{
    ViewBag.Title = "ScriptVariables";


    var scriptVars = new Westwind.Web.JsonVariables("pageVars");

    scriptVars.Add("appBasePath", Request.ApplicationPath + "/");
    scriptVars.Add("serverTime", DateTime.Now);       
}

<h2>ScriptVariables</h2>

@section scripts
{
    @*Embed a new variable from values*@
    <script>
        @scriptVars.ToHtmlString()
        showStatus(pageVars.appBasePath + " " + pageVars.serverTime);
    </script>
    
    @*Assign to an existing object/module*@
    <script>
        var app = {};
        @{
            scriptVars.ClientObjectName = "app.pageVars";
        }
        @scriptVars.ToHtmlString()        
    </script>
    
    @*Embed just the raw JSON without a var name*@
    <script>        
        var rawJson = @scriptVars.ToJsonHtmlString();
    </script>
}