<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LogManager" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <LogManager>
    <add key="ConnectionString" value="TestDataConnection" />
    <add key="LogFilename" value="TestLogFile" />
    <add key="LogAdapter" value="Sql" />
    <add key="LogWebRequests" value="True" />
    <add key="LogErrors" value="True" />
  </LogManager>

  <connectionStrings>
    <add name="TestDataConnection" connectionString="server=.;database=TestData;integrated security=true" />        
    <add name="LocalDatabaseConnection" connectionString="Data Source=Database.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>