<div class="container">
    <style>
        h4 {
            color: steelblue;
            font-weight: bold;
        }
    </style>
    <h3>
        <i class="fa fa-info"></i>  About the AlbumViewer Sample
    </h3>



    <div class="well well-sm">
        <h4>Cordova</h4>
        This sample application demonstrates using Cordova to port a small
        Web application to run as a native mobile application. The sample
        is set up to run on iOS, Android and Windows Phone 8.x.
    </div>

    <div class="well well-sm">
        <h4>Local Data</h4>
        This application runs all local data on device, with initially loaded
        data from static files that are then maintained in localstorage. This
        was done to have a self-contained app without external dependencies,
        but the app actually contains code that can connect to an external
        service.
    </div>

    <div class="well well-sm">
        <h4>Angular and BootStrap</h4>

        This example uses <a href="http://angularjs.org">AngularJs</a> as
        the application framework, and modified <a href="http://getbootstrap.com">Bootstrap</a>
        styling to provide this Cordova mobile app interface.
    </div>

    <hr />
    <a href="#/albums">Back to Application</a>

</div>